* {
    margin: 0;
}

.main-container {
    background: no-repeat center url('./pub/bkg.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asking-form {
    background-color: beige;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.asking-form img {
    width: 250px;
}

.asking-form__question {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.asking-form__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.button-yes {
    background-color: palevioletred;
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 80px;
    height: 40px;
    color: white;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.button-yes:hover {
    transform: scale(1.2);
}

.-clicked {
    animation: move-button-yes 0.25s ease-in-out !important;
    animation-fill-mode: forwards;
}

.button-no {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
    opacity: 0.4;
    cursor: not-allowed;
    position: relative;
    color: black;
    transition: all 0.3s ease-in;
}

.defeat {
    width: 500px;
    background-color: beige;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    height: fit-content;
}

.defeat img {
    width: 300px;
    height: 380px;
}

.defeat span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    font-size: 30.5pt;
    color: black;
}

.button-change-choice {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 15px;
    height: 40px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    min-height: fit-content;
}
.success {
    width: 500px;
    background-color: beige;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    height: fit-content;
}

.success img {
    width: 250px;
}

.success span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 48px;
}